.title {
    font-size: 3.5rem !important;
    color: #000000 !important;
    font-family: 'Snell Roundhand', serif !important;
}

.text {
    font-size: 1.2rem !important;
    color: #373737 !important;
    font-family: 'Rockwell', serif !important;
}

.text-bold {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #000000 !important;
    font-family: 'Rockwell', serif !important;
}

.text, .text-bold {
    margin: 0 !important;
    line-height: 1.5 !important;
}