@font-face {
    font-family: 'Rockwell';
    src: url('../assets/fonts/Rockwell.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Snell Roundhand';
    src: url('../assets/fonts/Snell-BT-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}